@import url('https://fonts.cdnfonts.com/css/norse');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

body {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.header-image {
    display: flex;
    background-color: antiquewhite;
    height: max(8rem, 35vw);
    overflow: hidden;
}

.header-image img {
    width: 100%;
    object-fit: cover;
    flex-shrink: 0;
}

main {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.form-container,
.account-button-container {
    width: 100%;
    padding: 0 max(4vw, 2rem);
}

.form-container {
    margin: 20px 0;
    border-bottom-style: solid;
}

.account-button-container {
    display: flex;
    flex-direction: column;
    margin: 20px 0;
    gap: 20px;
}

.form-container > header {
    margin: 20px 0 40px 0;
}

.form-row {
    display: flex;
    flex-wrap: wrap;
}

.form-column {
    display: flex;
    flex-direction: column;
    margin-right: min(10%, 6rem);
    width: min-content;
}

.form-column {
    min-height: 70px;
}

.form-column:last-of-type {
    margin-right: 0;
}

#sign-up-form {
    margin-top: 20px;
}

input {
    border-style: solid;
    width: 200px;
    height: 30px;
}

input.invalid {
    border-color: red;
}

button[type="submit"] {
    width: 200px;
    height: 35px;
}

.errorMessage {
    color: red;
    font-size: 0.8em;
}

@media only screen and (min-width: 770px) {
    body {
        flex-direction: row;
    }
    .header-image {
        height: auto;
        width: 50rem;
        min-width: 25rem;
        max-width: fit-content;
    }
    .header-image img {
        height: 100%;
        min-width: 100%;
    }
    input {
        width: min(240px, calc(150px + 5vw));
    }
    .form-container {
        margin-top: 100px;
    }
    .form-container > header {
        width: min(40rem, 40vw);
    }
}