@import url('https://fonts.cdnfonts.com/css/norse');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

body {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.header-image {
    position: relative;
    display: flex;
    flex-direction: column;
    background-color: antiquewhite;
    height: max(8rem, 35vw);
    min-height: 8rem;
    overflow: hidden;
}

.header-image > p {
    position: absolute;
    width: 100%;
    text-align: center;
    bottom: 10px;
    color: white;
    font-size: clamp(0.6rem, 2vw, 1rem)
}

.header-image a {
    color: white;
}

.odin-container {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.500);
    top: calc(20% + 1vw);
    text-align: center;
    font-family: "Norse", sans-serif;
    color: white;
    font-size: clamp(1.5rem, 8vw, 4rem);
    height: 50%;
    padding: 10px;
    user-select: none;
}

.odin-container img {
    height: 100%;
}

.header-image > img {
    width: 100%;
    object-fit: cover;
    flex-shrink: 0;
}

main {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.form-container,
.account-button-container {
    width: 100%;
    padding: 0 max(4vw, 2rem);
}

.form-container {
    border-bottom-style: solid;
    padding-bottom: 15px;
}

.account-button-container {
    display: flex;
    flex-direction: column;
    margin: 35px 0;
    gap: 20px;
}

.form-container > header {
    margin: 20px 0 40px 0;
}

.form-row {
    display: flex;
    flex-wrap: wrap;
}

.form-column {
    display: flex;
    flex-direction: column;
    margin-right: min(10%, 6rem);
    width: min-content;
}

.form-column {
    min-height: 70px;
}

.form-column:last-of-type {
    margin-right: 0;
}

#sign-up-form {
    margin-top: 20px;
}

input {
    border-style: solid;
    width: 200px;
    height: 30px;
    padding: 3px;
}

input.invalid {
    border-color: red;
}

button[type="submit"] {
    width: 200px;
    height: 35px;
    background-color: green;
    cursor: pointer;
}

.error-message {
    color: red;
    font-size: 0.8em;
}

#log-in {
    color: green;
    text-decoration: none;
}

@media only screen and (min-width: 770px) {
    body {
        flex-direction: row;
    }
    .header-image {
        height: auto;
        width: 50rem;
        min-width: 25rem;
        max-width: fit-content;
    }
    .header-image > img {
        height: 100%;
        min-width: 100%;
    }
    input {
        width: min(240px, calc(150px + 5vw));
    }
    .form-container {
        margin-top: 100px;
    }
    .form-container > header {
        width: min(40rem, 40vw);
    }
    .odin-container {
        top: 20%;
        font-size: 3rem;
        height: 15%;
    }
}